.header-container {
  width: 85%;
  height: 120px;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 99999;
  position: fixed;
  align-items: center;
  backdrop-filter: blur(3px);
  justify-content: space-between;
  background-color: rgba(224, 255, 224, 0.3);
}
.header-container01 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-container02 {
  width: 15%;
  height: 100%;
  display: flex;
  align-self: center;
  transition: 0.3s;
  border-color: 100 (Success);
  background-size: cover;
  text-decoration: none;
  background-image: url("public/logo%20green.svg");
  background-position: center;
}
.header-container02:hover {
  background-image: url("public/logo%20green.svg");
  background-position: center;
}
.header-container03 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-navlink01 {
  display: contents;
}
.header-text {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text:hover {
  color: var(--dl-color-success-300);
  font-size: 1.3em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 13px;
  background-color: var(--dl-color-success-100);
}
.header-navlink02 {
  display: contents;
}
.header-text01 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text01:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text01:hover {
  color: var(--dl-color-success-300);
  font-size: 1.3em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text01:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 13px;
  background-color: var(--dl-color-success-100);
}
.header-navlink03 {
  display: contents;
}
.header-text02 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text02:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text02:hover {
  color: var(--dl-color-success-300);
  font-size: 1.3em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text02:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 13px;
  background-color: var(--dl-color-success-100);
}
.header-navlink04 {
  display: contents;
}
.header-text03 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text03:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text03:hover {
  color: var(--dl-color-success-300);
  font-size: 1.3em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text03:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 13px;
  background-color: var(--dl-color-success-100);
}
.header-navlink05 {
  display: contents;
}
.header-text04 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text04:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text04:hover {
  color: var(--dl-color-success-300);
  font-size: 1.3em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text04:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-text05 {
  color: var(--dl-color-gray-white);
  width: 15%;
  font-size: 1.3em;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 900;
  padding-top: 10px;
  border-color: var(--dl-color-success-100);
  border-width: 5px;
  padding-left: 18px;
  border-radius: var(--dl-radius-radius-radius16);
  padding-right: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgb(0, 98, 23);
}
.header-text05:hover {
  color: var(--dl-color-success-100);
  border-color: var(--dl-color-success-100);
  border-style: solid;
  border-width: 5px;
  letter-spacing: 1.2px;
  background-color: transparent;
}
.header-text05:active {
  color: var(--dl-color-success-100);
  margin-right: 0px;
  letter-spacing: 1.5px;
  background-color: rgba(0, 98, 23, 0.23);
}
.header-container08 {
  display: none;
  align-items: center;
  justify-content: center;
}
.header-text06 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text06:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text06:hover {
  color: var(--dl-color-success-300);
  font-size: 1em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text06:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 13px;
  background-color: var(--dl-color-success-100);
}
.header-text07 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text07:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text07:hover {
  color: var(--dl-color-success-300);
  font-size: 1em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text07:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 13px;
  background-color: var(--dl-color-success-100);
}
.header-text08 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text08:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text08:hover {
  color: var(--dl-color-success-300);
  font-size: 1em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text08:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 13px;
  background-color: var(--dl-color-success-100);
}
.header-text09 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text09:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text09:hover {
  color: var(--dl-color-success-300);
  font-size: 1em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text09:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  padding-bottom: 13px;
  background-color: var(--dl-color-success-100);
}
.header-text10 {
  color: var(--dl-color-success-100);
  font-size: 1.3em;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  transition-timing-function: ease;
}
.header-text10:focus {
  color: var(--dl-color-success-500);
  transform: rotate(10deg);
  text-decoration: underline;
}
.header-text10:hover {
  color: var(--dl-color-success-300);
  font-size: 1em;
  transform: rotate(4deg);
  transition: .5;
  text-decoration: underline;
  transition-timing-function: ease;
}
.header-text10:active {
  color: var(--dl-color-success-700);
  transform: rotate(12deg);
  text-decoration: underline;
}
.header-root-class-name {
  width: 85%;
}
.header-root-class-name1 {
  width: 85%;
}
@media(max-width: 1600px) {
  .header-container {
    width: 85%;
  }
  .header-text05 {
    width: 15%;
    text-align: center;
  }
}
@media(max-width: 1200px) {
  .header-container {
    width: 90%;
  }
  .header-container02 {
    width: 20%;
  }
  .header-text05 {
    width: auto;
  }
}
@media(max-width: 991px) {
  .header-container {
    flex-direction: column;
  }
  .header-container01 {
    width: 100%;
  }
  .header-container02 {
    width: 20%;
  }
  .header-container03 {
    display: none;
  }
  .header-text {
    font-size: 1.1em;
  }
  .header-text01 {
    font-size: 1.1em;
  }
  .header-text02 {
    font-size: 1.1em;
  }
  .header-text03 {
    font-size: 1.1em;
  }
  .header-text04 {
    font-size: 1.1em;
  }
  .header-text05 {
    font-size: 1.3em;
  }
  .header-container08 {
    display: flex;
  }
  .header-text06 {
    font-size: 1.1em;
  }
  .header-text07 {
    font-size: 1.1em;
  }
  .header-text08 {
    font-size: 1.1em;
  }
  .header-text09 {
    font-size: 1.1em;
  }
  .header-text10 {
    font-size: 1.1em;
  }
}
@media(max-width: 767px) {
  .header-container {
    width: 100%;
  }
  .header-container02 {
    width: 25%;
  }
  .header-container03 {
    display: none;
  }
  .header-text05 {
    font-size: 1.3em;
  }
}
@media(max-width: 479px) {
  .header-container {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .header-container02 {
    width: 35%;
  }
  .header-text05 {
    font-size: 1.2em;
  }
  .header-text06 {
    font-size: 0.8em;
  }
  .header-text07 {
    font-size: 0.8em;
  }
  .header-text08 {
    font-size: 0.8em;
  }
  .header-text09 {
    font-size: 0.8em;
  }
  .header-text10 {
    font-size: 0.8em;
  }
}
